
/AMLBackend/obj
/AMLBackend/.idea
/AmlBackend/bin
/AmlBackend/InventoryService/bin
/AmlBackend/InventoryService/bin
/AmlBackend/InventoryService/bin
/AmlBackend/InventoryService/bin/Debug
/AmlBackend/InventoryService/bin
/AmlBackend/InventoryService/obj
/AmlBackend/InventoryService/.idea
/AmlBackend/InventoryService/.idea
/AmlBackend/BranchService/bin
/AmlBackend/BranchService/obj
/AmlBackend/InventoryService/Migrations
/AmlBackend/InventoryService/obj
/AMLBackend/Branch Information/.vs
/AMLBackend/Branch Information/obj
/AMLBackend/InventoryService/.vs
/AMLBackend/InventoryService/obj
/AmlBackend/InventoryService/obj
/AmlBackend/InventoryService/bin
/AmlBackend/ApiGateway/.idea
/AmlBackend/ApiGateway/bin
/AmlBackend/ApiGateway/obj
/AmlBackend/UserService/bin
/AmlBackend/UserService/obj
/AmlBackend/UserService/.idea
/AmlBackend/BranchService/.idea
/Frontend/.idea
/AmlBackend/InventoryService/obj
/AMLBackend/InventoryService/ISTest/bin
/AMLBackend/InventoryService/ISTest/obj
/AmlBackend/InventoryService/obj
AmlBackend/InventoryService/obj/InventoryService.csproj.nuget.g.props
/AmlBackend/ReportingService/obj
/AmlBackend/ReportingService/bin
/AmlBackend/ReportingService/.idea
/AMLBackend/ReportingService/.idea
/AmlBackend/InventoryService/obj
/AmlBackend/InventoryService/obj
/AmlBackend/ReportingService/ReportingServiceTests/bin
/AmlBackend/ReportingService/ReportingServiceTests/obj
/AmlBackend/PublishedServices
/AmlBackend/InventoryService/obj
/AmlBackend/InventoryService/obj
