
/AMLBackend/obj
/AMLBackend/.idea
/AmlBackend/bin
/AmlBackend/InventoryService/bin
/AmlBackend/InventoryService/bin
/AmlBackend/InventoryService/bin
/AmlBackend/InventoryService/bin/Debug
/AmlBackend/InventoryService/bin
/AmlBackend/InventoryService/obj
/AmlBackend/InventoryService/.idea
/AmlBackend/InventoryService/.idea
/AmlBackend/BranchService/bin
/AmlBackend/BranchService/obj
/AmlBackend/InventoryService/Migrations
/AmlBackend/InventoryService/obj
/AMLBackend/Branch Information/.vs
/AMLBackend/Branch Information/obj
/AMLBackend/InventoryService/.vs
/AMLBackend/InventoryService/obj
