
/AMLBackend/obj
/AMLBackend/.idea
/AmlBackend/bin
/AmlBackend/InventoryService/bin
/AmlBackend/InventoryService/bin
/AmlBackend/InventoryService/bin
/AmlBackend/InventoryService/bin/Debug
/AmlBackend/InventoryService/bin
