/* General layout for the Home page */
.homeWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the wrapper spans the full viewport height */
}

.homeWrapper > *:not(footer) {
    flex: 1; /* Allow content to expand and fill the space */
}

footer {
    flex-shrink: 0; /* Ensure the footer stays at the bottom */
}

/* Center the AML Home text */
.homeContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex: 1; /* Ensures it takes up remaining space between Header and Footer */
}

.homeContent h1 {
    font-size: 2.5em;
    color: #333;
}
